.value {
  padding: 0 15%;
}
.title {
  text-align: center;
  color: #21478c;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-export{
  border: 0;
  height: 30px;
  line-height: 26px;
  text-transform: capitalize;
  border-radius: 2px;
  font-size: 13px;
  color: #fff;
  background: #2fb159;
  padding: 0 1rem;
  cursor: pointer;
  transition: .2s ease all;
}
.btn-export:hover{
    background: #17612d;
    color: #fff;
}
.table-value {
  display: flex;
  justify-content: space-between;
}
.table-left {
  table{
    border: solid 0.5px black;
    width: 450px;
    text-align: center;
    caption{
      text-align: center;
      font-size: 1.5rem;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
    tbody tr:nth-child(odd) {
      background-color: #ffffff;
    }
    
    tbody tr:nth-child(even) {
      background-color: #c3dff1;
    }
    th{
      text-align: center;
      color: white;
      width: 75px;
      height: 40px;
      background-color: #21478c;
    }
    td{
      height: 30px;
    }
  }
}
.table-right {
  table{
    border: solid 0.5px black;
    width: 450px;
    text-align: center;
    caption{
      text-align: center;
      font-size: 1.5rem;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
    tbody tr:nth-child(odd) {
      background-color: #ffffff;
    }
    
    tbody tr:nth-child(even) {
      background-color: #c3dff1;
    }
    th{
      text-align: center;
      color: white;
      width: 75px;
      height: 40px;
      background-color: #21478c;
    }
    td{
      height: 30px;
    }
  }
}
